.subscription-inner {
  display: block;
  text-align: center;
  margin-bottom: 120px;
}

.subscription-title {
  margin-bottom: 8px;
}

.title-text {
  font-size: 30px;
  font-weight: 400;
}

.describe-text {
  margin: 0 0 40px 0;
  font-size: 20px;
  font-weight: 400;
}

.subscription-input {
  width: 600px;
  height: 40px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 30px;
  font-weight: 400;
  color: #D8D8D8;
  border-color: #D8D8D8;
}

.subscription-button {
  width: 70px;
  height: 40px;
  font-size: 30px;
  border: none;
  background: rgba(28, 28, 28, 0);
  border-bottom: 2px solid #D8D8D8 ;
}